/* GLOBALES */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

body {
    font-size: 1.6rem;
}

h2{
    font-size: 3.4rem;
}



/* HEADER */

nav {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header {
    background-color: #333333;
    padding: 1rem 0;
}

.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}


/* Todas las etiquetas <a> que esten dentro de la etiqueta <nav> */
nav a {
    font-size: 2.8rem;
    padding-right: 4rem;
    color: #fff;
    text-decoration: none;
}

nav a:last-of-type{
    padding-right: 0; 
}


/* Logotipo de la barra de navegación */

.logo {
    width: 11rem;
}

.barra-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-portada{
    font-size: 3rem;
    color: white;
}


.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




/* Seccion 2 */

.titulo-seccion{
    text-align: center;
    line-height: 2;
    margin: 3rem 0;

    
}

.grid-container{
    background-color: grey;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 350px 350px;
    row-gap: 15px;
    column-gap: 15px;
    
}

.perfil-card{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.perfil-card a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.perfil-card img{
    width: 30rem;
}






